{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
{% if user.is_authenticated %}
<h1>Hello World</h1>
{% else %}
<h1>Login</h1>
<br>                
<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    <form>
  <!-- <div class="mb-3">
    <i class="material-icons">person</i>
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div></br> -->
    <div class="mb-3 input-group">
        <span class="input-group-text">
            <i class="material-icons">person</i>
        </span>
        <input type="text" class="form-control" name="username" placeholder="Username" required>    
    </div></br>

  <!-- <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="password" required>
    <i class="material-icons">lock</i>
  </div> -->
    <div class="mb-3 input-group">
        <span class="input-group-text">
            <i class="material-icons">lock</i>
        </span>
        <input type="password" class="form-control" name="password", placeholder="password" required>    
    </div>
    <br>

  <button type="submit" class="btn btn-secondary">Login</button>
</form>
</form>
</div> 
{% endif %}
{% endblock %}

